body {
    background-color:  #F7FBFC;

}

hr {
    background-color: #F7FBFC;
    border: none;
    border-top: 10px dotted #D6E6F2;
    width: 5%;
}

h1 {
    color: #769FCD;
    text-align: center;
}

h3 {
    color: #769FCD;
    text-align: center;
}

.table {
    margin-left: auto;
    margin-right: auto;
}

.container {
    text-align: center;
}

.list {
    display: inline-block;
    text-align: left;
}


